body {
  border-bottom: 50vh solid #333;
  border-top: 50vh solid #eee;
  display: flex;
  height: 0;
}
h1 {
  border: 1vw solid #fff;
  color: #fff;
  font-size: 10vw;
  margin: auto;
  mix-blend-mode: difference;
  padding: 0 5vw;
  text-transform: uppercase;
  transform: translate(0, -50%);
}
